{% extends "shop/base.html" %}
{% load static %}

{% block title %}
  {{ product.name }}
{% endblock %}

{% block content %}
<div class="bg-light py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mb-0"><a href="/">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">{{ product.name }}</strong></div>
      </div>
    </div>
</div>  

<div class="site-section">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <img class="img-fluid" alt="Image" src="{% if product.image %}{{ product.image.url }}{% else %}
              {% static "img/no_image.png" %}{% endif %}">
            </div>
            <div class="col-md-6">
              <h2 class="text-black">{{ product.name }}</h2>
              <p>{{ product.description|linebreaks }}</p>
              <p><strong class="text-primary h4">${{ product.price }}</strong></p>
              <div class="mb-1 d-flex">
                <label class="d-flex mr-3 mb-3" for="option-sm">
                  <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input name="shop-sizes" id="option-sm" type="radio"></span> <span class="d-inline-block text-black">Small</span>
                </label>
                <label class="d-flex mr-3 mb-3" for="option-md">
                  <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input name="shop-sizes" id="option-md" type="radio"></span> <span class="d-inline-block text-black">Medium</span>
                </label>
                <label class="d-flex mr-3 mb-3" for="option-lg">
                  <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input name="shop-sizes" id="option-lg" type="radio"></span> <span class="d-inline-block text-black">Large</span>
                </label>
                <label class="d-flex mr-3 mb-3" for="option-xl">
                  <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input name="shop-sizes" id="option-xl" type="radio"></span> <span class="d-inline-block text-black"> Extra Large</span>
                </label>
              </div>
              <div class="mb-5">
                <form action="{% url "cart:cart_add" product.id %}" method="post">
                <div class="input-group mb-3" style="max-width: 120px;">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-primary js-btn-minus" type="button">−</button>
                      </div>
                        {{ cart_product_form }}
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary js-btn-plus" type="button">+</button>
                        </div>
                        {% csrf_token %}
                
                
              </div>
  
              </div>
              <p ><input type="submit" class="buy-now btn btn-sm btn-primary" value="Add to cart"></p>
  
            </div>
          </div>
        </div>
      </div>
{% endblock %}  