{% extends 'shop/base.html' %}
{% load static %}

{% block title %}
    {% if category %}
       The Shoppee | {{ category.name }}
    {% else %}
       The Shoppee | Products
    {% endif %}
{% endblock %}

{% block content %}
<div class="bg-light py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mb-0"><a href="/">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Shop</strong></div>
      </div>
    </div>
</div>  

<div class="site-section">
    <div class="container">

      <div class="row mb-5">
        <div class="col-md-9 order-2">

          <div class="row">
            <div class="col-md-12 mb-5">
              <div class="float-md-left mb-4"><h2 class="text-black h5">
                {% if category %}
                    {{ category.name }}
                {% else %}
                    Shop All
                {% endif %}</h2></div>
            </div>
          </div>
          <div class="row mb-5">
            {% for product in products %}
            <div class="col-sm-6 col-lg-4 mb-4 aos-init aos-animate" data-aos="fade-up">
              <div class="block-4 text-center border">
                <figure class="block-4-image">
                  <a href="{{ product.get_absolute_url }}"><img class="img-fluid" alt="Image placeholder" src="{% if product.image %}{{ product.image.url }}
                    {% else %}{% static "img/no_image.png" %}{% endif %}"></a>
                </figure>
                <div class="block-4-text p-4">
                  <h3><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h3>
                  <p class="text-primary font-weight-bold">${{ product.price }}</p>
                </div>
              </div>
            </div>
            {% endfor %}



          </div>
          
        </div>

        <div class="col-md-3 order-1 mb-5 mb-md-0">
          <div class="border p-4 rounded mb-4">
            <h3 class="mb-3 h6 text-uppercase text-black d-block">Categories</h3>
            <ul class="list-unstyled mb-0">
              <li {% if not category %} class="mb-1" {% endif %}><a class="d-flex" href="{% url "shop:product_list" %}"><span>All</span> <span class="text-black ml-auto">(2,220)</span></a></li>  
              {% for c in categories %}
                <li {% if category.slug == c.slug %} class="mb-1" {% endif %}><a class="d-flex" href="{{ c.get_absolute_url }}"><span>{{ c.name }}</span></a></li>
              {% endfor %}
              
            </ul>
          </div>



          </div>
        </div>
      </div>


      
</div>

{% endblock %}